.transparent {
    background-color: transparent;
}

.post_reply_button:hover {
    background-color: rgba(232, 231, 171, 0.15);
}

.post_repost_button:hover {
    background-color: rgba(54, 186, 152, 0.15);
}

.post_love_button:hover {
    background-color: rgba(232, 37, 97, 0.15);
}

.post_menu_button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.post_repost_button_toggled {
    background-image: image(rgba(54, 186, 152, 0.15));
}

.post_love_button_toggled {
    background-image: image(rgba(232, 37, 97, 0.15));
}

.handle_display_name {
    font-weight: bold;
}

.embedded_headline {
    font-weight: bold;
    font-size: 17px;
}

.embedded_link {
    opacity: 0.5;
}

.embedded_description {
    opacity: 0.9;
}